
.overlay{
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow: hidden ;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);

    /*ATERRIZA POPUP*/
    .pop-up{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 250px;
        height: 250px;
        margin: auto;
        padding: 0 4%;
        text-align: center;
        background: #dfe4ea;
        border-radius: 12px;

        a{
            color: #EA0000;
            font-weight: bold;
            text-decoration: none;
        }
    }
}