@import './App.scss';

//TABLETS
@media (max-width: 1080px) {

}



//MOBILES
@media (max-width: 600px) {

/*Header styles*/
    .header {
        padding: 5px;
        width: 90%;
        margin: auto;
        .header-content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .menuLinks {
            ul a{
                display: none;
            }

            ul a:first-of-type{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                /*MOBILE STYLE*/
                background-color: #EA0000;
                height: calc(25px + 2%);
                padding: 10px;
                color:var (--colorText);
                border-radius: 10% 30% 50% 70%;
            }
        }
        .actions-header{
            display: flex;
            align-items: center;
            .select-translate{
            padding: 5%;
            border-radius: 5%;
            margin: 0 5%;
            width: 70px;
            }
        }
        }
    }
/*Home styles*/
    .home{
        .hero{
         text-align: center;
         h1{
           font-size: 6vh;
         }
         .hero-dis{
           height: 50vh;
           h4{
              font-size: 18px;
           }
           button{
              padding: 12px 22px;
              font-size: 14px;
           }
         }
        }
        .welcome{
           display: flex;
           flex-flow: column wrap;
           .welcome-text{
              width: 70vw;
              text-align: center;
           }
        }
     
        .text-anima{
            overflow-x: hidden;
           .animation-text{
              h2{
                 font-size: 8vh;
              }
              @keyframes marquee {
                 0% {
                   transform: translate3d(0, 0, 0);
                 }
                 100% {
                   transform: translate3d(-50%, 0, 0);
                 }
               }
           }
        }
     
        .work-section{
           .section{
              display: flex;
              flex-flow: column wrap;
              gap: 4px;
              .work-card{
                 width: 80%;
                 padding: 3%;
                 margin: 4% 0 0 0;
                 h4{
                    font-size: 25px;
                 }
                 p{
                    font-size: 16px;
                    padding: 2% 5%;
                 }
              }
           }
        }
     
        .team-section{
           flex-flow: column-reverse wrap;
           justify-content: center;
           align-content: center;
           padding: 0;
           margin: auto;
           overflow-x: hidden;
           gap: 10px;
           .members{
              display: flex;
              padding: 10px;
              gap: 40px;
              margin-top: 40px;
              flex-flow: column-reverse wrap;
              .members-line{
                margin: 1%;
                .member-card{
                    width: 250px;
                    margin-bottom: 80px;
                    img{
                        width: 150px;
                        height: auto;
                        margin: -30% 0 0 0;
                     }
                    text-align: center;
                    height: 250px;
                    padding: 20px;
                    background-color: #F5F5F5;
                    box-shadow: 6px 4px 33px rgba(0, 0, 0, 0.2);
                    border-radius: 12px;
                 }
              }
           }
           .members div:nth-child(2){
                margin-bottom: 0;
           }
           .team-text{
              width: 70vw;
              margin: 20px 0;
              text-align: center;
           }
        }

        .more-members{
            display: flex;
            padding: 10px;
            gap: 40px;
            margin-top: 40px;
            flex-flow: column-reverse wrap;
            .members-line{
              margin: 1%;
              .member-card{
                  width: 250px;
                  margin-bottom: 80px;
                  img{
                      width: 150px;
                      height: auto;
                      margin: -30% 0 0 0;
                   }
                  text-align: center;
                  height: 250px;
                  padding: 20px;
                  background-color: #F5F5F5;
                  box-shadow: 6px 4px 33px rgba(0, 0, 0, 0.2);
                  border-radius: 12px;
               }
            }
         }
     
        .ctaSection{
           display: flex;
           flex-flow: column wrap;
           justify-content: center;
           gap: 10px;
           padding: 6% 10%;
           overflow-x: hidden;
           .ctaText{
              width: 80vw;
              text-align: center;
           }
        }
    }

/*Slider HOME styles*/

    .buttons-slides{

        .action-move{
            svg{
                align-self: flex-end;
            }
        }

        .sliderBg{
            display: flex;
            flex-flow: column wrap;
            gap: 30px;
            overflow-x: hidden;
            padding: 0;
            .projectText{
                align-items: center;
                text-align: center;
                width: 100%;
                padding: 1%;
                h3{
                font-weight: 300;
                font-size: 30px;
                }
                .chip{
                    width: 100%;
                    align-content: center;
                    justify-content: center;
                }
                button{
                    margin-top: 20px;
                }
            }
            .projectImg{
                width: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-flow: column wrap;
                align-items: center;
                .smallImages{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-flow: column wrap;
                    img{
                        width: 100%;
                        border-radius: 20px;
                        margin: 12px;
                    }
                }
            }
            .projectImg div:nth-child(2){
                display: none;
            }
        }
    }

/*ANIMATIONS HOME styles*/
    .heroImg{
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        margin-top: 15%;
        img{
            width: 650px!important;
            height: auto;
            z-index: 1;
            overflow-x: auto;
            position: absolute;
            top: 20%;
            left: auto;
        }
    }

    .welcomeImg{
        align-self: flex-end;
        margin: 60% -10% 0 0 !important;
        img{
            width: 80vw !important;
        }
    }

    .footerImg{
        align-self: center !important;
        img{
            width: 50vw !important;
            margin-top: 0 !important;
        }
    }

/*Footer styles*/
    footer{
        overflow-x: hidden;
        h1{
            font-size: 10vh !important;
            margin: 3% !important;
        }
        .bottomSect{
            height: 80px !important;
            margin: -80px 0 0 0;
            padding: 2%;
        }
    }

}



  